header {
    margin: 6px;
    padding: 6px;
}

#searchCity {
    color: blue;
}

#today {
    color: blue;
    font-weight: bold;
}

.characteristic {
   list-style: none; 
   font-size: xx-large;
   font-weight: bold;
}

.characteristic span {
    color: blue;
}

.card {
    margin: 3px;
    padding: 3px;
}

.row {
    justify-content: space-evenly;
}

.forecast-card {
    background-color: rgb(70, 70, 131);
    color: white;
}

.forecast-card h4 {
    padding: 2px 0px 2px 0px;
    justify-content: space-evenly;
}

.card p {
    text-align: left;
    color: rgb(49, 248, 9);
    font-size: larger;
    padding: 2px 0px 2px 0px;
}

.btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: black;
    border: none;
    outline: none;
    background-color: lightslategray;
    transform: translate(-1px, -1px);
  }

  .card-body {
    text-align: center;
    background-color: lightblue;
    font-weight: bolder;
    color: grey;
    font-size: larger;
  }

  .favorable {
    background-color: lightgreen;
    border-left: 40px;
    border-right: 40px;
    border-right-style: solid;
    border-left-style: solid;
    border-left-color: lightgreen;
    border-right-color: lightgreen;
  }

  .moderate {
    background-color: yellow;
    border-left: 40px;
    border-right: 40px;
    border-right-style: solid;
    border-left-style: solid;
    border-left-color: yellow;
    border-right-color: yellow;
  }
  
  .severe {
    background-color: lightcoral;
    border-left: 40px;
    border-right: 40px;
    border-right-style: solid;
    border-left-style: solid;
    border-left-color: lightcoral;
    border-right-color: lightcoral;
    
  }
