header {
    margin: 6px;
    padding: 6px;
}

#searchCity {
    color: blue;
}

#today {
    color: blue;
}
.characteristic {
   list-style: none; 
   font-size: x-large;
   font-weight: bold;
}

.characteristic span {
    color: blue;
}

.card {
    margin: 4px;
    padding: 4px;
}

.row {
    justify-content: space-evenly;
}

.forecast-card {
    background-color: rgb(70, 70, 131);
    color: white;
}

.forecast-card h4 {
    padding: 2px 0px 2px 0px;
}

.card p {
    text-align: left;
    color: white;
    font-size: larger;
    padding: 2px 0px 2px 0px;
}

.btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: black;
    border: none;
    outline: none;
    background-color: lightslategray;
    transform: translate(-1px, -1px);
  }
  